<h1>Search for a city!</h1>
<form method="GET" action="/results">
	<input type="text" name="name" placeholder="What city?">
	<input type="text" name="state" placeholder="What state?">
	<input type="submit" value="Search">
</form>